*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    scroll-behavior: smooth ;
    scroll-padding-top: 400px;
    background-color: black;
}

nav{
  height: 80px;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
    
}
.navbar_container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
}
nav a{
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
}
nav a:hover{
    color: lightgray;
    transition: 0.4s ease-in-out;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    margin: 20px 0;
    height: 55px;
}
.button:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    color: lightslategray;
}
nav .home-link{
  margin-right: auto;
}
nav svg{
  fill: gray;
}
nav svg:hover{
    fill: black;
    transition: .4s ease-in-out;
}
#sidebar-active{
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
}
@media(max-width: 665px){
  .navbar_container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;

    background-color: black;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav .home-link{
    display: none;
  }
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-sidebar-button, .close-sidebar-button{
    padding: 20px;
    display: block;
    cursor: pointer;
  }
  #sidebar-active:checked ~ .navbar_container{
    right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

.tło{
    position: absolute;
    width: 100vw;
}
.dysk{
  width: 100vw;
}